@media screen and (min-width: 768px) {
  footer {
    height: 25vh;
  }
  footer img {
    width: 10%;
  }
}
@media screen and (min-width: 1024px) {
  .contact-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .contact-link li {
    margin-bottom: 20px;
  }
  .contact-link li a {
    align-self: center;
  }
  footer {
    height: 20vh;
  }
  footer img {
    width: 5%;
  }
}
@media screen and (min-width: 1440px) {
  .header-section {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 25vh;
  }
  .header-section h1 {
    font-size: 2em;
  }
  .header-section nav a {
    font-size: 1.2em;
    padding: 0px 20px;
  }
  .title-section {
    font-size: 2.2em;
    margin-top: 100px;
  }
  .title-subsection {
    font-size: 1.5em;
  }
  .about-section p {
    margin: 10px 0 10px;
    font-size: 1.3em;
  }
  .education-title {
    margin-top: 25px;
    font-size: 1.25em;
    text-align: start;
  }
  .skills {
    flex-direction: row;
  }
  .projects {
    flex-direction: row;
  }
  .projects li {
    margin: 0px 20px 15px;
  }
  .contact-container {
    width: 100%;
  }
  form,
  .contact-link {
    width: 50%;
  }
  .name-input,
  .email-input {
    font-size: 1.1em;
  }
  .contact-msg-input {
    font-size: 1.2em;
  }
  .contact-link li {
    flex-direction: column;
    align-items: center;
  }
  footer {
    height: 25vh;
  }
}
